@page
@model DarNGames.Pages.GameVendors.CreateModel

@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="~/css/upload.css">
</head>

<h1>Create</h1>

<h4>GameVendors</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameVendors.VendorTitle" class="control-label"></label>
                <input asp-for="GameVendors.VendorTitle" class="form-control" />
                <span asp-validation-for="GameVendors.VendorTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Images</label>
                <div class="drop_zone">
                    <span asp-validation-for="GameVendors.ImageLink" class="text-danger"></span>
                    <span class="drop_zone__prompt">Drag/Drop images here</span>
                    <input type="file" asp-for="GameVendors.ImageLink" id="imageUpload " name="myFile" class="drop_zone__input form-control-file" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/js/upload.js"></script>